/*웹폰트*/
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {margin:0; padding:0;}
li{list-style:none;}
a {text-decoration:none; display: block; color: #212121; font-family:'Arita-dotum-Medium'; }
body { overflow-x:hidden; font-family: 'Arita-dotum-Medium';}
img{width:100%;}
.center {width:1320px; margin: 0 auto; height:100vh; overflow:hidden;}
header, section, footer {
    width:100%;
    float:left;
    box-sizing: border-box;
}
header {
    height:65px;
    /* padding-top:10px; */
    position:fixed;
    z-index:100;
    background-color: #fff;
}
header .logo {
    float:left;
    width:100px;
    margin-left: 50px;
    margin-top:3px;
    overflow: hidden;
}
header nav {
    float: left;    /*.logo 옆에 나란히 배치*/
    margin-left: 50px;  /*위쪽 여백*/
    margin-top:10px;    /*왼쪽 여백*/
    
}
/*주메뉴, > 선택자 사용(직속 자식 객체만 선택함)*/
header nav > ul > li {
    float:left; /*메뉴들(li)를 가로로 나열*/
    margin-top:10px;    /*위아래 여백:0, 좌우여백 10픽셀*/
}
header nav > ul > li > a{
    color: #212121;
    font-size:18px;
    padding: 6px 40px 19px;    /*위:6px 좌우:20 아래:23*/
    font-weight: bold;
    position: relative; /*자식개체 a의 자식객체 after가 위치 잡을 때 기준은 li가 됨*/
}
/*주메뉴에 마우스 오버하면 글자색 변경*/
header nav > ul > li:hover > a {
    color: #999;
}
/*주메뉴에 마우스 오버하면 주메뉴에 밑줄 애니메이션, 서브메뉴로 내려가도 밑줄 유지됨*/
/*메인메뉴에 마우스 오버했을 때 밑줄 애니메이션*/
header nav > ul > li:hover > a:after {
    content:"";
    width:0;
    height:3px;
    background-color: #999;
    position:absolute;
    bottom:0;
    left:50%;
    display: block; /*인라인요소 블럭요소*/
    transition:all 0.1s ease-in;    /*ease-out:감속운동*/
}

header nav ul li a:hover:after {
    width:100%;
    left:0;

}
header .header_icon {
    float:right;
}
header .header_icon ul li{
    float:left;
    margin: 21px 12px;

}
header .header_icon ul li i {
    width:20px;
    float: left;
    margin-right: 7px;
}
header .header_icon ul li p{
    float:left;
    font-size :13px;
    color: #212121;
    margin-top:7px;
  
}
/*서브메뉴*/
header nav .sub {
    position:absolute;
    background-color: #fff;
    top: 65px;
    left:0;
    width:100%;
    height:60px;
    border-top: 1px solid #999;
    padding-left: 210px;    /*안쪽-왼쪽 여백*/
    box-sizing:border-box;
    display:none; /*안보임*/

}
header nav .sub li {
    float:left;
    margin:5px 20px;
}
header nav .sub li a{
    font-size:16px;
    white-space:nowrap;
    padding:10px;
}
/*서브메뉴에 마우스 오버하면 글자색 변경*/
header nav .sub li a:hover {
    color: #999;
}



/*헤더 아이콘*/
header .header_icon {
    float:right;
}
section { height:100vh; box-sizing:border-box; padding:100px 0;}
section.s1 {padding:0;}

section h1 {
    font-size:50px;
    color: #333;
    text-align:center;
}
section .small_title {
    font-size:15px;
    text-align:center;
    margin:20px 0 50px;
}
/*visual*/
section .visual {
    width:100%;
    height:100vh;
    /*vh:장치의 높이를 인식하는 단위*/
    /*100vh : visual 영역의 높이는 장치의 높이와 같음*/
}
section .visual > div {
    height:100vh;
    width: 100%;
    position:absolute;
    top:0;
    left:0;

}
section .visual_bg > div {
  /*  background-repeat: no-repeat;
    background-position:top center;
    background-size: cover; */
    width:30.20%;
   /* float: left;*/
   position:absolute;
   height:100vh;
   top:0;
}
section.visual .visual_bg .v1 {
    left: 0;
}
section .visual .visual_bg .v2 {
    left:22.39%;
}
section .visual .visual_bg .v3 {
    left:47.39%;
}
section .visual .visual_bg .v4 {
    right: 0;
}
section .visual .visual_bg div div {
    transform:matrix(1,0,0,1,0,0);
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}





section .visual .visual_bg .v1 .vi_img {
    background-image:url(../img/b1-1.png)
}
section .visual .visual_bg .v2 .v2_img{
    background-image:url(../img/b2-2.png)
}
section .visual .visual_bg .v3 .v3_img{
    background-image:url(../img/b3-1.png)
}
section .visual .visual_bg .v4 .v4_img {
    background-image:url(../img/b4-1.png)
}


section .visual .visual_des > div {
    /* box-sizing :border-box;
    padding:200px 70px;
    float:left;*/
    width:25%;
    height:100vh;
    position: absolute;
}
section .visual .visual_des .v1 {
    left:0;
}
section .visual .visual_des .v2 {
    left:25vw;
}
section .visual .visual_des .v3 {
    left:50vw;
}
section .visual .visual_des .v4 {
    right:0;
}

section .visual .visual_des div des_tet {
    position :absolute;
    top:0;
    left:0;
    width:100%;
    height:100vw;
}
section .visual .visual_des div h1 {
    color: #fff;
    font-size:30px;
    opacity:1;
    margin-top:12vw;
}
section .visual .visual_des div h i {
    width:30px;
    float:left;
    margin-right:10px;
}
section .visual .visual_des div  p {
    float:left;
    text-shadow: 0 0 10px #333;
}

section .visual .visual_des div > p {
    color: #fff;
    width:100%;
    float:left;
    margin-top: 20px;
    line-height:24px;
    text-shadow:0 0 10px #000;
    font-weight: bold;
    
}
section .visual .visual_des div p a {
    color: #fff;
    text-align: left;
}

/*메인비주얼의 화살표
section .visual .visual_des .arrow {
    position:absolute;
    width:100px;
    top:200px;
    right:100px;
}*/
section.s2 .swiper {
    width: 75%;
    overflow:visible;   /*overflow:hidden을 해제*/
    padding-top: 70px;  /*작은 제목과의 여백*/
    margin-left:25%;


}

section.s2 .swiper .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition:all 0.5s;
}
section.s2 .swiper .swiper-slide-active {
    transform:scale(1.3);   /*원래 크기의 1.3배*/
    z-index: 100;   /*맨 앞으로 배치*/
}
section.s2 .swiper .s1 {
    background-image: url(../img/o1.png);
}
section.s2 .swiper .s2 {
    background-image: url(../img/o2.png);

}
section.s2 .swiper .s3 {
    background-image: url(../img/o3.png);
}
section.s2 .swiper .s4 {
    background-image: url(../img/o4.png);
}
section.s2 .swiper .swiper-button-next {
    text-indent:-9999px;    /*들여쓰기*/
    position: absolute;
    width:40px;
    top:220px;
 
}
section.s2 .swiper .swiper-button-prev {
    text-indent:-9999px;    /*들여쓰기*/
    position: absolute;
    width:40px;
    top:220px;
    left:-320px;
}
/*비활성화된 이미지에서 슬라이드 배경 투명*/
section.s2 .swiper .swiper-slide .slide_des {
    background-color: rgba(0, 0, 0, 0.473);    /*투명도*/
    width:100%;
    height:100%;
    color: #fff;
    position:absolute;
    bottom:0;   /*아래위치*/
    padding-top: 20px;
    box-sizing:border-box;
}
/*비활성화된 이미지에서 제목과 설명이 작은 글자임*/
section.s2 .swiper .swiper-slide .slide_des p {
    padding: 122px 0;
    font-weight: normal;
    text-align: center;
}
/*비활성화된 이미지에서 제목과 설명이 작은 글자임*/
section.s2 .swiper .swiper-slide .slide_des a {
    width:100px;
    margin:20px auto;
    border:1px solid #fff;
    text-align: center;
    line-height:30px;
    color: #fff;
    font-size:10px;
    margin-top:20px;
    display: none;
}
/*큰 이미지에서만 반투명 배경 보임 */
section.s2 .swiper .swiper-slide-active .slide_des {
    background-color: rgba(0,0,0,0);
    color:#212121 
}
/*큰 이미지에서만 view버튼 보임
section.s2 .swiper .swiper-slide-active .slide_des {
    display:block;
}*/
/*s3 (탭메뉴)*/
section.s3 {
    background-color: #f8f8f8;
}
section.s3 .tab {
    width:100%;
    margin-top: 20px;
}

section.s3 .tab {
    width: 100%;
}
section.s3 .tab > div {
    width:100%;
    float:left;
}
/*탭제목*/
.tab .tab_title ul li {
    float:left;
    width:330px;

}
section.s3 .tab .tab_title ul li a {

    box-sizing:border-box;
    border: 1px solid transparent;
    border-bottom:1px solid #999;
    padding:20px;
    text-align: center;
    color:#666;
}
section.s3 .tab .tab_title ul li a.active {
    color: #666;
    border: 1px solid #999;
    border-bottom: 1px solid transparent;
}
section.s3 .tab .tab_con {
    height: 400px;
    position:relative;  /*자식객체 div 겹칠 때 부모 기준으로 배치*/
}
section.s3 .tab .tab_con > div {
    position:absolute;
    top:0;
    left:0;
    padding:40px 0;
    box-sizing: border-box;
}
section.s3 .tab .tab_con > div ul li {
    float:left;
    width:318px;
    margin-right:16px;
}
section.s3 .tab .tab_con > div ul li:last-child {
    margin-right:0;
}

section.s3 .tab .tab_con div ul li .tab_img {
    height:300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.s3 .tab .tab_con div ul li t1 {
    background-image: url(../img/h2.png);
}
section.s3 .tab .tab_con div ul li t2 {
    background-image: url(../img/h1.png);
}
section.s3 .tab .tab_con div ul li t3 {
    background-image: url(../img/h3.png);
}
section.s3 .tab .tab_con div ul li t4 {
    background-image: url(../img/h4.png);
}
section.s3 .tab .tab_con div ul li t5 {
    background-image: url(../img/bo1.png);
}
section.s3 .tab .tab_con div ul li t6 {
    background-image: url(../img/bo2.png);
}
section.s3 .tab .tab_con div ul li t7 {
    background-image: url(../img/bo3.png);
}
section.s3 .tab .tab_con div ul li t8 {
    background-image: url(../img/bo4.png);
}
section.s3 .tab .tab_con div ul li t9 {
    background-image: url(../img/ha1.png);
}
section.s3 .tab .tab_con div ul li t10 {
    background-image: url(../img/ha2.png);
}
section.s3 .tab .tab_con div ul li t11 {
    background-image: url(../img/ha3.png);
}
section.s3 .tab .tab_con div ul li t12 {
    background-image: url(../img/ha4.png);
}
section.s3 .tab .tab_con div ul li t13 {
    background-image: url(../img/se1.png);
}
section.s3 .tab .tab_con div ul li t14 {
    background-image: url(../img/se2.png);
}
section.s3 .tab .tab_con div ul li t15 {
    background-image: url(../img/se3.png);
}
section.s3 .tab .tab_con div ul li t16 {
    background-image: url(../img/se4.png);
}
/*view more_btn */
section.s3 .view_btn {
    width:100%;
    float:left;



}
section.s3 .view_btn a {
    width:200px;
    height:30px;
    margin:0 auto;
    line-height:30px;
    text-align:center;
    color: #666;
    border: 1px solid #999;
    
}
/* 
section.s3 .view_btn a p {
    margin-left:50px;
    float:left;
}
section.s3 .view_btn a span {
    margin-top:13px;
    margin-ringt: 40px;
    width:50px;
    display : block;
    float:ringt;
} */
/*s4(갤러리, gallery)*/
section.s4 .center{
    position:relative;  /*.s4_right영역의 위치 잡을 때 기준이 됨*/
}
section.s4 .s4_left {
    float:left;
    width:650px;
    position:relative;  /*z-index 값 적용*/
    z-index:5;  /*.s4_right 영역보다 위에 배치*/
}
section.s4 h1 {
    text-align: left;
    margin:100px 0 0 75px;


}

section.s4 p {
    text-align:left;
    margin-left: 20px;
    line-height: 30px;

}

section.s4 .gallery {
    width: 580px;
    margin-top:150px;


}

section.s4 .s4_right {
    position:absolute;  /*.s4_left영역과 겹침*/
    z-index:1;
    top:100px;
    right:0;
    width:900px;

}
section.s4 .s4_right.active {
    opacity: 1;
    top:100px;
}
section.s4 .swiper-slide {
    height:200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.s4 .s4_right .swiper .swiper-slide {
    height:500px;
}
/*슬라이드 버튼*/
section.s4 .swiper-button-next2 {
    width:50px;
    position:absolute;
    right:0;
    bottom:80px;
    z-index:20;
}
section.s4 .swiper-button-prev2 {
    width:50px;
    position:absolute;
    left:0;
    bottom:80px;
    z-index:20;
}
section.s4 .swiper .g1 {
    background-image: url('../img/s1.png');
}
section.s4 .swiper .g2 {
    background-image: url('../img/s2.png');
}
section.s4 .swiper .g3 {
    background-image: url('../img/s3.png');
}
section.s4 .swiper .g4 {
    background-image: url('../img/s4.png');
}
section.s4 .swiper .g5 {
    background-image: url('../img/s5.png');
}
section.s4 .swiper .g6 {
    background-image: url('../img/s6.png');
}
section.s4 .swiper .g7 {
    background-image: url('../img/s7.png');
}
section.s4 .swiper .g8 {
    background-image: url('../img/s8.png');
}
section.s4 .swiper .g9 {
    background-image: url('../img/s9.png');
}
/*s5 "test 1. M&C"*/
section.s5 {
    background-color: #f8f8f8;
    height:80vh;
}
section.s5 .center {

    margin-top: 20px;


}
section.s5 .center ul li {
    float:left;
    width:315px;
    margin-right: 20px;
}
section.s5 .center ul li:last-child {
    margin-right: 0;
}
/*footer*/
footer {
    margin-top: 120px;
    background-color: #212121;
    height:360px;
}
footer .center {
    height:auto;
}
footer .top_footer {
    height:50px;
    border-top:1px solid #666;
    border-bottom: 1px solid #666;
}
footer .top_footer .user ul li {
    float:left;
    border-left:1px solid #666;
}
footer .top_footer .user ul li:last-child {
    border-right: 1px solid #666;
}
footer .top_footer .user ul li a {
    color: #ddd;
    padding:17px 30px;
}
/* footer .top_footer .user ul li a:after {
    content: "";
    width:100%;
    height: 3px;
    display: block;
    margin-top:3px;
    background-color: transparent;
} */
/*개인정보처리방침 글자만 색 변경
footer .top_footer .user ul li:nth-chil(3) a{
    color: #ffcc00;
} */
/*sns*/

footer .top_footer .sns {
    float:right;
}
footer .top_footer .sns ul li {
    float:left;
    border-left:1px solid #666;
    padding:13px;
}
footer .top_footer .sns ul li:last-child {
    border-right:1px solid #666;
}
footer .top_footer .sns ul li a {
    width: 24px;

}
footer .bottom_footer {
    padding-top:40px;
}
footer .bottom_footer .center {
    overflow: visible;  /*overflow:hidden;의 반대개념, center 영역을 벗어난 객체도 보임*/
}
footer .bottom_footer .addr {
    float:left;
}
footer .bottom_footer address {
    color : #999;
    font-style:normal;
    line-height: 28px;
}
footer .bottom_footer p {
    color: #999;
    margin-top:20px;
}
/*패밀리 사이트*/
footer .bottom_footer .family {
    position: relative;
    width:200px;
    height:230px;
    float:right;
    overflow:hidden;
    margin-top:-150px;
}
footer .bottom_footer .family .family_title {
    border:1px solid #666;
    position:absolute;    /*.family_list와 겹침*/
    bottom:0;  
    width:99%; 
    z-index:10; 
    background-color: #212121;
}
footer .bottom_footer .family .family_title a {
    color:#ddd;
    padding:15px 25px;
}
footer .bottom_footer .family .family_title a span {
    width:8px;
    height:8px;
    background-image: url(../img/family_arrow.png);
    display: block;
    float:right;
    margin-top: 5px;
}
footer .bottom_footer .family .family_list {
    position:absolute;   /*.family_title과 겹침*/
    top:200px;
    width:99%;
    z-index:5;
}
footer .bottom_footer .family .family_list ul li {
    background-color:#fff; 
    border:1px solid #ddd;   
    border-bottom:none;
}
footer .bottom_footer .family .family_list ul li a {
    padding:15px 20px;
    text-align: center;
    font-size:14px;
    font-weight: bold;
}
.top{
    width:50px;
    height:50px;
    position: fixed;
    background-color: #666;
    color:#ddd;
    bottom:10px;
    right:10px;
    text-align: center;
    line-height:50px;
    font-size:14px;
    cursor: pointer;
}